# Django
*.log
local_settings.py
db.sqlite3
media/

# Environment variables
.env
kill

# IDE
.vscode/
.idea/
*.swp
*.pyc

# OS
.DS_Store
Thumbs.db

# Dependencies
node_modules/
__pycache__/
*.py[cod]
